aiohttp == 3.8.3
bs4 == 0.0.2
langchain == 0.3.20
langchain-chroma == 0.2.2
langchain_community == 0.3.19
langchain-openai == 0.3.8
openai == 1.66.3
pathlib == 1.0.1
requests == 2.29.0
tree-sitter == 0.20.4
semver == 3.0.4
tqdm == 4.65.0